@charset "UTF-8";
/*
Theme Name: examen_wp_ramon rnicolasp@esliceu.net
Theme URI: https://wordpress.org/
Author: Ramon Nicolas
Description: Tema de Wordpress per l'examen.
Requires at least: 4.9.6
Requires PHP: 5.2.4
Version: 2.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: examen_wp
*/

:root {
--main-color:#ce900c;
--background-body:rgb(255, 198, 145);
--text-color:#000000;
--text-light-color:rgb(247,161,82);
--text-color-active:rgb(168, 55, 7);
--text-color-hover:rgb(247, 161, 82);
--backgroud-color-hover:rgb(39, 13, 1);
--text-light-color:rgb(247, 161, 82);

}

body{
background: var(--background-body);
}

.navbar{
    background-color:var(--main-color);
    font-size: 16px;
    padding: 20px;
}

.navbar-light .navbar-nav .nav-link{
    color:var(--text-color);
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
    color:var(--text-color-active);
}

.dropdown-menu{
    background-color: var(--main-color);
}
.dropdown-menu a:hover{
    background-color: var(--main-color);
}

.jumbotron{
    color: var(--text-light-color);
    height: 400px;
}

.jumbo-tienda{
    background-image: url(inc/img/jumbo-tenda.jpg);
    background-repeat: no-repeat;
}

.jumbo-front{
    background-image: url(inc/img/jumbo-front.jpg);
    background-repeat: no-repeat;
}

.jumbo-jeans{
    background-image: url(inc/img/jumbo-jeans.png);
    background-repeat: no-repeat;
}

.jumbo-camisetas{
    background-image: url(inc/img/jumbo-samarreta.png);
    background-repeat: no-repeat;
}

.jumbo-grups{
    background-image: url(inc/img/jumbo-grups.jpg);
    background-repeat: no-repeat;
}

.container img{
    width: 100%;
}

footer{
    background-color: var(--main-color);
    margin-top: 100px;
    padding: 20px;
    text-decoration: none;
}

div a{
    list-style: none;
}

.izq{
    text-align: left;
}

.der{
    text-align: right;
}

.mid{
    text-align: center;
}